---
import {Directus} from "@directus/sdk"
import Layout from "@layouts/layout.astro"
import Banner from "@components/Banner.vue"

const url = import.meta.env.PUBLIC_CMS
const directus = new Directus(url)
let profiles_data
let profiles

try{
	profiles_data = await directus.items('thaf_team').readByQuery({
		filter:{
			"status":{
				"_eq":"published"
			}
		},
		limit:-1
	})
	profiles = profiles_data.data
}catch(err){
	console.error(err)
}
---
<Layout title="About Us" description="Total Health Advocacy Foundation is a non-profitable organization whose main aim is to tackle humanitarian crisis.">
	<Banner 
		background={`${url}assets/2672f460-60c2-4c7e-9dcf-c300c15dda2c?fit=contain&format=webp`}
		title="About Us" 
		description="" 
	/>
	<section class="dark:text-stone-100">
		<div class="container flex flex-col justify-center p-6 mx-auto lg:flex-row lg:justify-between">
			<div class="flex items-center justify-center p-6 mt-8 lg:mt-0 h-72 sm:h-80 lg:h-96 xl:h-112 2xl:h-128">
				<img src={`${url}assets/ae65d0f5-33c9-4990-a44e-125b78acd516?fit=contain&format=webp`} alt="Trainer in training session" class="object-contain h-72 sm:h-80 lg:h-96 xl:h-112 2xl:h-128 rounded-md" width={450} height={380} />
			</div>
			<div class="flex flex-col justify-center sm:p-6 sm:text-center rounded-sm lg:max-w-md xl:max-w-lg lg:text-left">
				<h1 class="text-3xl font-bold leading-none capitalize text-center text-green-600">
					Who we are
				</h1>
				<p class="mt-6 mb-8 sm:mb-12">
					Total Health Advocacy Foundation (THAF) is a non-political, non-profitable organization registered in December 2019 by concerted efforts aimed at tackling the humanitarian crisis.<br>

					Our management entails independent non-partisan indigenous professionals experienced practically &amp; technically in various fields namely Gender Health, Capacity Building, Human rights, and Community Development.
				</p>
				<div class="flex flex-col space-y-4 sm:items-center sm:justify-center sm:flex-row sm:space-y-0 sm:space-x-4 lg:justify-start text-center">
					<a href="/contact-us" class="px-8 py-3 text-lg font-semibold rounded bg-green-600 text-stone-100">
						Contact Us
					</a>
					<a href="/donations" class="px-8 py-3 text-lg font-semibold border border-stone-800 dark:border-stone-100 rounded">
						Donate
					</a>
				</div>
			</div>
		</div>
	</section>
	<section class="dark:text-stone-100">
		<div class="container flex flex-col justify-center p-6 mx-auto lg:flex-row lg:justify-between">
			<div class="flex flex-col justify-center sm:p-6 sm:text-center rounded-sm lg:max-w-md xl:max-w-lg lg:text-left">
				<h1 class="text-3xl font-bold leading-none capitalize text-center text-green-600">
					Our Objective
				</h1>
				<p class="mt-6 mb-8 sm:mb-12">
					Our main objective is to promote Access to Primary Healthcare Services to the less privileged, enhance access to Clean Water and Sanitation, Mitigate the Impact of HIV/AIDS, Promote Human Rights, as well as help fight Drug and Alcohol Addiction/Abuse leading to a healthy population.
				</p>
				<div class="flex flex-col space-y-4 sm:items-center sm:justify-center sm:flex-row sm:space-y-0 sm:space-x-4 lg:justify-start text-center">
					<a href="/news/main-objectives" class="px-8 py-3 text-lg font-semibold rounded bg-green-600 text-stone-100">
						Detailed Objectives
					</a>
				</div>
			</div>
			<div class="flex items-center justify-center p-6 mt-8 lg:mt-0 h-72 sm:h-80 lg:h-96 xl:h-112 2xl:h-128">
				<img src={`${url}assets/7dad5357-4b25-4d1e-85b8-6a8e083de8d2?fit=contain&format=webp`} alt="Men being educated about safety" class="object-contain h-72 sm:h-80 lg:h-96 xl:h-112 2xl:h-128 rounded-md" width={450} height={380} />
			</div>
		</div>
	</section>
	<section class="dark:text-stone-100">
		<div class="container flex flex-col justify-center p-6 mx-auto lg:flex-row lg:justify-between">
			<div class="flex items-center justify-center p-6 mt-8 lg:mt-0 h-72 sm:h-80 lg:h-96 xl:h-112 2xl:h-128">
				<img src={`${url}assets/8768078c-d1f5-4776-a414-4254e6526029?fit=contain&format=webp`} alt="Picture of ruthimitu girls secondary school" class="object-contain h-72 sm:h-80 lg:h-96 xl:h-112 2xl:h-128 rounded-md" width={450} height={380} />
			</div>
			<div class="flex flex-col justify-center sm:p-6 sm:text-center rounded-sm lg:max-w-md xl:max-w-lg lg:text-left">
				<h1 class="text-3xl font-bold leading-none capitalize text-center text-green-600">
					Our Vision
				</h1>
				<p class="mt-6 mb-8 sm:mb-12">
					We envision a society where children and women enjoy healthy enlightened lives in a responsive environment through promotion of social, economic, cultural and moral development. We endeavour to achieve this by giving a free rein of potential to the disadvantaged by providing health care, livelihood skills, access to water and sanitation and community development services. Children, youth and gender development are fundamental to our work.
				</p>
			</div>
		</div>
	</section>
	<!--<section class="mt-10 mb-4 dark:text-stone-100">
		<div class="container flex flex-col mx-auto lg:flex-row flex-col-reverse">
			<div class="p-4 mt-4">
				<img class="w-full lg:h-72 rounded-md" src={`${url}assets/a75193a5-a832-43bb-955c-13fe59a4df58?fit=cover&height=720&width=1080&format=webp`} height={720} width={1080} alt="Photo of total health advocacy foundation building" />
			</div>
			<div class="flex flex-col w-full p-6 lg:w-2/3 md:p-8 lg:p-12">
				<p class="mb-8">
					Total health advocacy foundation stands for human rights. We believe every one is entitled to leading a healthy life with clean air, good nutrition, access to clean water and sanitation as well as clean living environment.
					We work to understand the particular health needs of the community and working with the people to promote wellness in society.
				</p>
			</div>
		</div>
	</section>-->
	<section class="dark:text-stone-100">
		<div class="container max-w-xl px-6 py-12 mx-auto space-y-24 lg:px-16 lg:max-w-7xl">
			<div class="grid lg:gap-8 lg:grid-cols-2 lg:items-center">
				<div>
					<h3 class="text-2xl font-bold tracking-tight sm:text-3xl text-green-600 dark:text-green-600">
						Our Principles
					</h3>
					<p class="mt-3 text-lg dark:text-stone-100">
						Our principles are bench marked on this five pillars
					</p>
					<div class="mt-12 space-y-12">
						<div class="flex">
							<div class="flex-shrink-0">
								<div class="flex items-center justify-center w-12 h-12 rounded-md bg-green-600 text-white dark:bg-green-600 dark:text-stone-900">
									<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-7 h-7">
										<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
									</svg>
								</div>
							</div>
							<div class="ml-4">
								<h4 class="text-xl font-medium leading-6 text-green-600 dark:text-green-600">
									Health
								</h4>
								<p class="mt-2 dark:text-stone-100">
									Strengthen community health systems through direct action, advocacy and collaboration.
								</p>
							</div>
						</div>
						<div class="flex">
							<div class="flex-shrink-0">
								<div class="flex items-center justify-center w-12 h-12 rounded-md bg-green-600 text-white dark:bg-green-600 dark:text-stone-900">
									<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-7 h-7">
										<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
									</svg>
								</div>
							</div>
							<div class="ml-4">
								<h4 class="text-xl font-medium leading-6 text-green-600 dark:text-green-600">
									Integrity
								</h4>
								<p class="mt-2 dark:text-stone-100">
									Promote equal chances of life to the most vulnerable by ensuring expanded and simplified interventions in maternal health and early life.
								</p>
							</div>
						</div>
						<div class="flex">
							<div class="flex-shrink-0">
								<div class="flex items-center justify-center w-12 h-12 rounded-md bg-green-600 text-white dark:bg-green-600 dark:text-stone-900">
									<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-7 h-7">
										<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
									</svg>
								</div>
							</div>
							<div class="ml-4">
								<h4 class="text-xl font-medium leading-6 text-green-600 dark:text-green-600">
									Humanity
								</h4>
								<p class="mt-2 dark:text-stone-100">
									Address determinants of mental health, causes and interventions.
								</p>
							</div>
						</div>
						<div class="flex">
							<div class="flex-shrink-0">
								<div class="flex items-center justify-center w-12 h-12 rounded-md bg-green-600 text-white dark:bg-green-600 dark:text-stone-900">
									<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-7 h-7">
										<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
									</svg>
								</div>
							</div>
							<div class="ml-4">
								<h4 class="text-xl font-medium leading-6 text-green-600 dark:text-green-600">
									Equality
								</h4>
								<p class="mt-2 dark:text-stone-100">
									Mitigate causes and effects of alcohol and drug/substance abuse amongst the youth and teenagers by identification, mentorship, guidance, counselling and rehabilitation.
								</p>
							</div>
						</div>
						<div class="flex">
							<div class="flex-shrink-0">
								<div class="flex items-center justify-center w-12 h-12 rounded-md bg-green-600 text-white dark:bg-green-600 dark:text-stone-900">
									<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-7 h-7">
										<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
									</svg>
								</div>
							</div>
							<div class="ml-4">
								<h4 class="text-xl font-medium leading-6 text-green-600 dark:text-green-600">
									Development
								</h4>
								<p class="mt-2 dark:text-stone-100">
									Combat communicable diseases, pandemics and emergencies.
								</p>
							</div>
						</div>
					</div>
				</div>
				<div aria-hidden="true" class="mt-10 lg:mt-0">
					<img src={`${url}assets/2737b286-cb32-48f5-a396-58a205bc4a3f?format=webp`} alt="Clean water access" class="mx-auto rounded-lg shadow-lg dark:bg-stone-500" height={350} width={480} />
				</div>
			</div>
		</div>
	</section>
	<section class="py-6 dark:text-stone-100">
		<div class="container flex flex-col items-center justify-center p-4 mx-auto sm:p-10">
			<h1 class="text-3xl font-bold leading-none text-center sm:text-5xl text-green-600 dark:text-green-600">
				Our Team
			</h1>
			<div class="flex flex-row flex-wrap mt-8">
				{
					profiles.map((item) => (
						<div class="flex flex-col justify-center w-full px-8 mx-6 my-12 text-center rounded-md md:w-96 bg-white dark:bg-stone-800 dark:text-stone-100">
							<img class="self-center flex-shrink-0 w-32 h-32 -mt-12 bg-center bg-cover rounded-full dark:bg-stone-500" src={`${url}assets/${item.banner}?fit=content&format=webp`} alt={item.name} width={32} height={32} />
							<a href={`/team/${item.slug}`} class="flex-1 my-4">
								<p class="text-xl font-semibold leading-snug">
									{item.name}
								</p>
								<p class="text-green-600 dark:text-green-600">
									{item.role}
								</p>
								<p class="text-sm">
									{item.description}
								</p>
							</a>
						</div>
					))
				}
			</div>
		</div>
	</section>
</Layout>
