---
import {Directus} from "@directus/sdk"
import Layout from "@layouts/layout.astro"
import Carousel from "@components/Carousel.vue"
import Newsletter from "@components/Newsletter.svelte"

const url = import.meta.env.PUBLIC_CMS
const directus = new Directus(url)

let news_data
let news

try{
	news_data = await directus.items('thaf_news').readByQuery({
		filter:{
			"status":{
				"_eq":"published"
			}
		},
		limit:8,
		sort:"-date_created"
	})
	news = news_data.data
}catch(err){
	console.error(err)
}
---
<Layout title="Total Health Advocacy Foundation" description="We stand for human rights focusing our activities in five main counties in Kenya; Nairobi, Mombasa, Kirinyaga, Marsabit, and Turkana.">
	<Carousel
		client:load
	/>
	<div class="container mx-auto p-4 mt-4">
		<h2 class="text-3xl font-bold tracking-tight text-center sm:text-5xl text-green-600">
			Who we are
		</h2>
		<p class="max-w-3xl mx-auto mt-4 text-xl text-center dark:text-stone-400">
			We are a non governmental organization formed with the aim of fostering health solutions to gain and lead a quality healthy life among children, teenagers, women and young adults.
		</p>
	</div>
	<div class="max-w-screen-xl p-5 mx-auto dark:text-stone-100 mt-24">
		<div class="grid grid-cols-1 gap-5 lg:grid-cols-4 sm:grid-cols-2">
			{
				news.map((item) => (
					<a href={`/news/${item.slug}`} class="relative flex items-end justify-start w-full text-left bg-center bg-cover h-96 dark:bg-stone-500" style={`background-image: url(${url}assets/${item.banner}?format=webp);`}>
						<div class="absolute top-0 bottom-0 left-0 right-0 bg-gradient-to-b via-transparent from-stone-900 to-stone-900"></div>
						<div class="absolute top-0 left-0 right-0 flex items-center justify-between mx-5 mt-3">
							<div class="px-3 py-2 text-xs font-semibold tracking-wider uppercase text-stone-100">
								{item.category}
							</div>
						</div>
						<h2 class="z-10 p-5">
							<p class="font-medium text-stone-100">
								{item.title}
							</p>
						</h2>
					</a>
				))
			}
		</div>
		<a class="relative mt-4 inline-block text-sm font-bold group focus:outline-none focus:ring" href="/news">
		  <span class="absolute inset-0 border border-current"></span>
		  <span class="block px-12 py-3 bg-white dark:bg-gray-900 border border-current">
		    View More
		  </span>
		</a>
	</div>
	<section class="container max-w-xl px-6 py-12 mx-auto space-y-24 lg:px-16 lg:max-w-7xl">
		<div class="grid md:grid-cols-2 gap-6 my-4">
			<div class="flex flex-col space-y-4">
				<h1 class="text-xl font-bold tracking-tight sm:text-3xl text-green-600">Our Main Aim</h1>
				<p class="text-lg dark:text-white">
					We aim to achieve a pedestal where our solutions result to optimal health leading to a quality and long life.
				</p>
			</div>
			<div class="flex flex-col space-y-4">
				<h1 class="text-xl font-bold tracking-tight sm:text-3xl text-green-600">Our Main Focus</h1>
				<p class="text-lg dark:text-white">
					Our activities are centered in five main counties in Kenya; Nairobi, Mombasa, Kirinyaga, Marsabit, and Turkana.
				</p>
			</div>
		</div>
	</section>
	<div class="w-full" style={`background-image: url('${url}assets/ae19ac38-92b0-4c2b-9d43-6a3aaadf4975'); background-position: center center; background-blend-mode: multiply; background-size: cover;`}>
		<div class="container flex flex-col flex-wrap content-center justify-center p-4 py-20 mx-auto md:p-10">
			<h1 class="text-5xl antialiased font-semibold leading-none text-center text-green-600">
				Volunteer
			</h1>
			<p class="pt-2 pb-8 text-xl antialiased text-stone-100 max-w-lg">
				We are in need of volunteers to help steer change in the society. Please contact us if you want to volunteer.
			</p>
			<div class="grid place-content-center">
				<a class="text-white font-medium bg-green-600 p-2 rounded-md" href="https://forms.gle/r2QuX7pBULKLHwfy6" target="_blank">
					Contact Us
				</a>
			</div>
		</div>
	</div>
	<section>
		<div class="container p-6 mx-auto space-y-6 text-center lg:p-8 lg:space-y-8">
			<h2 class="text-3xl font-bold text-green-600 sm:text-5xl">Our partners</h2>
			<div class="grid sm:grid-cols-2 lg:grid-cols-4 place-items-center gap-4">
				<a href="https://www.health.go.ke/" target="_blank">
					<img class="w-32" src={`${url}assets/2f421795-42dc-4eee-b3ae-55d5d36b1218?format=webp`} width={32} height={80} alt="Ministry of health logo">
				</a>
				<a href="https://mama-lucy-kibaki-hospital.business.site/" target="_blank">
					<img class="w-48" src={`${url}assets/78555b74-d569-4fa6-b6f5-45569679f5cc?format=webp`} width={32} height={80} alt="Mama Lucy Kibaki Hospital Logo">
				</a>
				<a href="http://www.medecins-afrique.org/" target="_blank">
					<img class="w-32" src={`${url}assets/7c3067ef-f85b-4fb6-92d8-de937bc98478?format=webp`} width={32} height={80} alt="Medecins d'afrique logo">
				</a>
				<a href="https://alkenkenya.com/" target="_blank">
					<img class="w-32" src={`${url}assets/34127f82-e465-43bb-a195-9dd3d389379a?format=webp`} width={32} height={80} alt="Alken Bookshop Logo">
				</a>
			</div>
		</div>
	</section>
	<Newsletter client:load />
</Layout>
