---
import "../styles/app.css"
import {Directus} from "@directus/sdk"
import TheHeader from "@components/TheHeader.vue"
import TheFooter from "@components/TheFooter.vue"

const {title} = Astro.props
const {description} = Astro.props
const {og_image} = Astro.props
const {og_url} = Astro.props

const directus = new Directus(import.meta.env.PUBLIC_CMS)

const categories_data = await directus.items('thaf_work_category').readByQuery({
  filter:{
    "status":{
      "_eq":"published"
    }
  },
  fields:['category']
})

const categories = categories_data.data

const lgrid = `lg:grid-cols-${categories.length}`

const subcategories_data = await directus.items('thaf_work_subcategories').readByQuery({
  filter:{
    "status":{
      "_eq":"published"
    }
  },
  fields:['title,slug,category.category']
})

const subcategories = subcategories_data.data
---
<html lang="en-KE">
  <head>
    <title>{title}</title>
    <meta charset="utf-8">
    <link rel="icon" type="image/svg+xml" href="/images/logo.svg" />
    <link rel="preconnect" href={import.meta.env.PUBLIC_CMS} crossorigin />
    <!--<link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin />
    <link href="/fonts.css" rel="stylesheet" />-->
    <meta name="robots" content="follow, index" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={og_image} />
    <meta property="og:url" content={og_url} />
  </head>
  <body class="dark:bg-black dark:text-white">
    <TheHeader
      client:load
      lgrid={lgrid}
      categories={categories}
      subcategories={subcategories}
    />
      <main>
        <slot />
      </main>
    <TheFooter client:load />
  </body>
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5384160930618869" crossorigin="anonymous"></script>
</html>
